# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
myenv/
env/
venv/

# Django
*.log
db.sqlite3
/media/
staticfiles/

# Environment
.env

# VSCode
.vscode/

# PyCharm
.idea/

# Mac/Linux
.DS_Store
