{% extends 'base.html' %} 
{% block content %}
<h2 class="mb-4 text-center" style="color: #6d28d9">Dashboard</h2>

<div class="row g-4 mb-5">
  <!-- Total Rooms -->
  <div class="col-md-4">
    <div class="card text-center p-4">
      <h6 class="text-muted">Total Rooms</h6>
      <h2 class="fw-bold">{{ total_rooms }}</h2>
    </div>
  </div>

  <!-- Most Popular Type -->
  <div class="col-md-4">
    <div class="card text-center p-4">
      <h6 class="text-muted">Most Popular Type</h6>
      <h2 class="fw-bold">
        {% if popular_type %}{{ popular_type.room_type }}{% else %}N/A
        {% endif%}
      </h2>
    </div>
  </div>

  <!-- Top Location -->
  <div class="col-md-4">
    <div class="card text-center p-4">
      <h6 class="text-muted">Top Location</h6>
      <h2 class="fw-bold">
        {% if popular_location %}{{ popular_location.location }}{% else %}N/A
        {% endif %}
      </h2>
    </div>
  </div>
</div>

<div class="row g-4">
  <div class="col-md-6">
    <div class="card p-3">
      <h5 class="text-center mb-3">Rooms by Type</h5>
      <img src="data:image/png;base64,{{ type_chart }}" class="img-fluid" />
    </div>
  </div>
  <div class="col-md-6">
    <div class="card p-3">
      <h5 class="text-center mb-3">Rooms by Location</h5>
      <img src="data:image/png;base64,{{ location_chart }}" class="img-fluid" />
    </div>
  </div>
</div>


{% endblock %}

